  
<div class="row">
  <div class="col-md-8">

<div class="row">
  <div class="col-xs-6 col-sm-2 col-md-offset-4 " >ClubName</div>
  <div class="col-xs-6 col-sm-3 ">City/State</div>
    <div class="col-xs-6 col-sm-3">All Events</div>
  <div class="clearfix visible-xs-block"></div>

  
</div>        
         <div *ngIf="clubs">
              <div *ngFor="let club of clubs | async ">
                     
                                                
                                                          <div class="row">
                                                            <p class="col-xs-6 col-sm-2 col-md-offset-4">{{club.name}}</p>
                                                            
                                                            <div class="clearfix visible-xs-block"></div>
                                                            <div class="col-xs-6 col-sm-3">{{club.city}}  {{club.state}}</div>
                                                            <div class="col-xs-6 col-sm-3"><p><button  type="button" class="btn btn-primary btn-xs" type="submit"
                                                            (click)="join(club._id)" >get Events</button> <p></div>
                                                          </div>
                                                                      </div>
           </div>
  </div>


  <div class="col-md-8"></div>
</div>
  <!--events list for a club to which the user is subscribed to-->
           <div *ngIf="events" >

                  <div  *ngFor="let event of events | async ">
                     <div class="row">
                          <div class="col-xs-6 col-sm-3">{{event.ename}}</div>
                          <div class="col-xs-6 col-sm-2">{{event.edescription}}</div>
                          <div class="col-xs-6 col-sm-2">{{event.etime}}</div>
                          <div class="col-xs-6 col-sm-3">{{event.estatus}}</div>
                          <!--<div  class="col-xs-6 col-sm-2">-->
                            
                           <div  *ngIf="event.eowner=='henok2000@gmail.com'">
                                    <button type="button" [disabled]="event.estatus=='start' || event.estatus=='completed'" class="btn btn-primary btn-xs btn btn-success" (click)="ownEvent(event._id, 'start')">Start</button> 
                                    <button type="button"  [disabled]="event.estatus=='paused' || event.estatus=='completed'" class="btn btn-primary btn-xs btn btn-warning" (click)="ownEvent(event._id,'paused')">Pause</button>                                                         
                                    <button type="button" [disabled]="event.estatus=='completed'" class="btn btn-primary btn-xs btn btn-danger "  (click)="ownEvent(event._id,'completed')">End</button>
                                                       
                            </div>
            
                                      <!--<div *ngFor="let member of event.emembers"> -->
                                 <div *ngIf="event.eowner!='henok2000@gmail.com'"> 
                                   <div *ngIf="event.eowner!='henok2000@gmail.com'">                                    
                           
                                               <button type="button"  class="btn btn-primary btn-xs" (click)="goForJoin(event._id)">Join</button> 
                                  <span *ngIf="status"></span> 
                          
                                
                                 </div>
                                 </div>



                           <!--</div>-->

                      </div>     
                  </div>  

             </div>
  


    
      
   
