<div class="container">
  <div class="mapclass">
    <sebm-google-map [latitude]="currentlat" [longitude]="currentlon">
      <sebm-google-map-marker [latitude]="currentlat" [longitude]="currentlon"></sebm-google-map-marker>
     <!--     <sebm-google-map-marker [latitude]="currentlat2" [longitude]="currentlon2"></sebm-google-map-marker>-->
         
    </sebm-google-map>


    position {{currentlat}}
    </div>
      <div class="dataform">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

<div class="row">
          <div class="form-group" class="col-xs-4">
            <label for="name">name:</label>
            <input type="text" name="name" class="form-control" formControlName="name">
          </div>


          <div >
            <input type="hidden" name="location" class="form-control" formControlName="location">
            <input type="hidden" name="numberofmember" class="form-control" formControlName="numberofmember">
            <input type="hidden" name="owner" class="form-control" formControlName="owner">
            <input type="hidden" name="events" class="form-control" formControlName="events">
            <input type="hidden" name="announcement" class="form-control" formControlName="announcement">
          </div>


          <div class="form-group" class="col-xs-3">
            <label for="state">state :</label>
            <input type="text" name="state" class="form-control" formControlName="state">
          </div>

          <div class="form-group" class="col-xs-4">
            <label for="city">city :</label>
            <input type="text" name="city" class="form-control" formControlName="city">
          </div>
</div>
<div class="row">
          <div class="form-group" class="col-xs-11">
            <label for="description">description :</label>
            <input type="text" name="description" class="form-control" formControlName="description">
          </div>
</div>


          <div class="form-group ">
            <button class="btn btn-primary" (click)="addClub()">add Club</button>
          </div>

        </form>
 </div>
 <div class="clubs">
        <form>
          <input type="text" name="inputvale" [(ngModel)]="inputvale"> <button (click)="searchByname()">SearchByName</button>
          <button (click)="searchByNoMember()">ByNumberofMember</button>
          <button (click)="searchAll()">showall</button>
        </form>

     
      

        <div class="row">
          <div class="col-md-8">
            <div *ngFor="let item of clubs | async">

              <div>
                <a [routerLink]="['club',item._id]">{{item.name}}</a>

              </div>
            </div>
            <div class="col-md-4 col-md-offset-0">right</div>
          </div>

        </div>
      </div>
      <router-outlet></router-outlet>
      <!--
<div [ngClass]="{leftHome:true}">


</div>

</div>

<div [ngClass]="{RightHome:true}">
 Clubs right
 <router-outlet></router-outlet>
  </div>
   -->